body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 2rem 0;
}

section {
  padding-top: 4rem;
}

.pokemon__info {
  text-align: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid lightgray;
}
.pokemon .pokemon__image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon .pokemon__image img {
  width: 70%;
}

.pokemon .pokemon__details {
  padding-top: 3rem;
}

.pokemon .pokemon__image-actions {
  display: flex;
  flex-direction: column;
}

.pokemon .pokemon__stats {
  padding-left: 3rem;
}

.pokemon .pokemon__stats p {
  margin-bottom: 0.5rem;
}

.pokedex__item {
  text-align: center;
}
